extends layout

block content
 
  //--------------- Background image
  .p-5.text-center.bg-image(style="\
  background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');\
  height: 400px;\
  ")
    .mask(style='background-color: rgba(0, 0, 0, 0.2);')
      .d-flex.justify-content-center.align-items-center.h-100
        .text-white
          h1.mb-3.display-1 Travel ExpertS4
          h2.mb-3
           | &quot;Your reliable travel expert&quot;
          a.btn.btn-outline-light.btn-lg(href='packages' role='button') Vacation Packages
          p=dt
          
  // ------------------------------ Banner ---------------------------
  #carouselExampleDark.carousel.carousel-dark.slide(data-bs-ride='carousel')
    .carousel-indicators
      button.active(type='button' data-bs-target='#carouselExampleDark' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
      button(type='button' data-bs-target='#carouselExampleDark' data-bs-slide-to='1' aria-label='Slide 2')
      button(type='button' data-bs-target='#carouselExampleDark' data-bs-slide-to='2' aria-label='Slide 3')
    .carousel-inner
      .carousel-item.active(data-bs-interval='10000')
        img.d-block.w-100(src='images/Flight1.jpg' alt='Flight1')
        .carousel-caption.d-none.d-md-block
          h5.display-1 The Best Vacation Package
          p Some representative placeholder content for the first slide.
      .carousel-item(data-bs-interval='2000')
        img.d-block.w-100(src='images/Mountain.jpg' alt='Mountain')
        .carousel-caption.d-none.d-md-block
          h5.display-1 See the world the way you want
          p Some representative placeholder content for the second slide.
      .carousel-item
        img.d-block.w-100(src='images/beach1.jpg' alt='beach1')
        .carousel-caption.d-none.d-md-block
          h5.display-1 We Take you where you want 
          p Some representative placeholder content for the third slide.
    button.carousel-control-prev(type='button' data-bs-target='#carouselExampleDark' data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    button.carousel-control-next(type='button' data-bs-target='#carouselExampleDark' data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next


      // --------------------------------- Packages -----------------------
  .body1.container-fluid
    .container
      h2 Our Travel Packages
        .row
          if packages
            each prod in packages
              .card.col-lg-4.col-md-4.col-sm-12.bg-light.text-dark
                a(href='/package/details/' + prod._id)
                  img.card-img-top(src=prod.image height="200")
                .card-body
                  a(href='/package/details/' + prod._id)
                    h5.card-title= prod.name
                  h6.card-text
                    | description: #{prod.description}
                    | Price: #{prod.price}

        //- //if !currentUser === 'manager'||'agent'
        //- li
        //-   a.btn.btn-primary.col-12(href='/package/add') Add Package
        //- br
        //- br
