extends layout

block content
 
  //--------------- Background image
  .p-5.text-center.bg-image(style="\
  background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');\
  height: 400px;\
  ")
    .mask(style='background-color: rgba(0, 0, 0, 0.2);')
      .d-flex.justify-content-center.align-items-center.h-100
        .text-white
          h1.mb-3.display-1 Travel ExperT4
          h2.mb-3
           | &quot;Your reliable travel expert&quot;
          a.btn.btn-outline-light.btn-lg(href='packages' role='button') Vacation Packages
          p=dt
          
  // ------------------------------ Banner ---------------------------
  #carouselExampleDark.carousel.carousel-dark.slide(data-bs-ride='carousel')
    .carousel-indicators
      button.active(type='button' data-bs-target='#carouselExampleDark' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
      button(type='button' data-bs-target='#carouselExampleDark' data-bs-slide-to='1' aria-label='Slide 2')
      button(type='button' data-bs-target='#carouselExampleDark' data-bs-slide-to='2' aria-label='Slide 3')
    .carousel-inner
      .carousel-item.active(data-bs-interval='10000')
        img.d-block.w-100(src='images/Flight1.jpg' alt='Flight1')
        .carousel-caption.d-none.d-md-block
          h5.display-1 The Best Vacation Package
          p Some representative placeholder content for the first slide.
      .carousel-item(data-bs-interval='2000')
        img.d-block.w-100(src='images/Mountain.jpg' alt='Mountain')
        .carousel-caption.d-none.d-md-block
          h5.display-1 See the world the way you want
          p Some representative placeholder content for the second slide.
      .carousel-item
        img.d-block.w-100(src='images/beach1.jpg' alt='beach1')
        .carousel-caption.d-none.d-md-block
          h5.display-1 We Take you where you want 
          p Some representative placeholder content for the third slide.
    button.carousel-control-prev(type='button' data-bs-target='#carouselExampleDark' data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    button.carousel-control-next(type='button' data-bs-target='#carouselExampleDark' data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next


      // --------------------------------- Packages -----------------------
  .container
    h2.bg-info Our Travel Packages
      .row
        if products
          each prod in products
            .card.col-lg-3.col-md-4.col-sm-12
              a(href='/product/details/' + prod._id)
                img.card-img-top(src=prod.image height="200")
              .card-body
                a(href='/product/details/' + prod._id)
                  h5.card-title= prod.name
                h6.card-text
                  | description: #{prod.description}
                  | Price: #{prod.price}

      //- a.btn.btn-primary.col-12(href='/product/add') Add Package 



  //- .row.row-cols-1.row-cols-md-3.g-2
  //-   .col
  //-     .card.h-100
  //-       img.card-img-top(src='images/il-vagabiondo-FlkxnZdebMk-unsplash.jpg' alt='...')
  //-       .card-body
  //-         h5.card-title Card title
  //-         p.card-text
  //-           | This is a longer card with supporting text below as a natural lead-in to
  //-           | additional content. This content is a little bit longer.
  //-   .col
  //-     .card.h-100
  //-       img.card-img-top(src='images/rafael-cisneros-mendez-y5PG8ZecXQI-unsplash.jpg' alt='...')
  //-       .card-body
  //-         h5.card-title Card title
  //-         p.card-text This is a short card.
  //-   .col
  //-     .card.h-100
  //-       img.card-img-top(src='images/lance-asper-Sm1V87fwLro-unsplash.jpg' alt='...')
  //-       .card-body
  //-         h5.card-title Card title
  //-         p.card-text
  //-           | This is a longer card with supporting text below as a natural lead-in to
  //-           | additional content.
  //-   .col
  //-     .card.h-100
  //-       img.card-img-top(src='images/yaopey-yong-H61cteSMfGo-unsplash.jpg' alt='...')
  //-       .card-body
  //-         h5.card-title Card title
  //-         p.card-text
  //-           | This is a longer card with supporting text below as a natural lead-in to
  //-           | additional content. This content is a little bit longer.
  //-   .col
  //-     .card.h-100
  //-       img.card-img-top(src='images/datingscout-YKxjbmN1CD8-unsplash.jpg' alt='...')
  //-       .card-body
  //-         h5.card-title Card title
  //-         p.card-text
  //-           | This is a longer card with supporting text below as a natural lead-in to
  //-           | additional content. This content is a little bit longer.
  //-   .col
  //-     .card.h-100
  //-       img.card-img-top(src='images/alexandre-chambon-aapSemzfsOk-unsplash.jpg' alt='...')
  //-       .card-body
  //-         h5.card-title Card title
  //-         p.card-text
  //-           | This is a longer card with supporting text below as a natural lead-in to
  //-           | additional content. This content is a little bit longer.


 
